@import 'libs';
@import 'components/index.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body,
.wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

body {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-width: 320px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 32px;
}

.container {
    max-width: 1140px;
    width: 100%;
}

/* Navigation */

.navigation {
    text-align: center;

    &__item {
        display: inline;
        font-size: 14px;
        padding-left: 0px;
    }

    &__list :not(:first-child) {
        display: inline;
        font-size: 14px;
        margin: 0px 0px 0px 28px;
        padding-left: 0px;
    }

    &__list {
        padding-left: 0px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #00BF78;
    }
}


.social {
    padding-left: 0px;

    &__item {
        list-style-type: none;
        padding-bottom: 20px;
    }

    &_contact {
        display: inline;
        padding: 24px 24px 24px 0px;
    }
}

a {
    color: #278AFF;
}

.main {
    flex: 1;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.header {
    background-color: #F8F6F7;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    &__logo {
        text-align: left;
    }

    &__nav {
        padding-right: 0px;
        margin: 0px;
    }

    &__phone {
        text-align: right;
    }

    &__top {
        margin-bottom: 188px;
    }

    &__social {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__girl {
        position: absolute;
        right: 90px;
        bottom: 0;
        opacity: 1;
        transition: 0.3s opacity;
    }
}


.header-girl {
    max-width: 524px;
    max-height: 510px;
    width: 100%;

    &:before {
        content: '';
        width: 472px;
        height: 472px;
        background-color: #FB9475;
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: -110px;
        right: 0;
        z-index: 0;
    }

    &__img {
        position: relative;
        z-index: 1;
        display: block;
    }
}

.hero {
    position: relative;
    z-index: 3;

    &__title {
        margin-bottom: 16px;
    }

    &__subtitle {
        margin: 16px 0px 60px 0px;
        font-size: 20px;
    }

    &__btn {
        flex-direction: column;
    }
}


.header-phone {

   &__number {
       font-size: 18px;
       font-weight: 500;
       line-height: 14px;
   }

    &__time{
        font-size: 11px;
        padding-top: 8px ;
    }
}

.section__grey {
    background-color: #ccc;
}

.header .container {
    position: relative;
    padding: 30px 0 130px;
}

.section {
    padding: 50px 0;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 108px;
    margin-top: 32px;

    &__descr {
        width: 100%;
        text-align: left;
    }

    &__descr-header {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
        text-align: left;
    }

    &__descr-text {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    &__video {
        max-width: 442px;
        height: 295px;
        width: 100%;
        background-image: url(../img/picture-video.png);
        z-index: 0;
        text-align: right;
    }

    &__video:before {
        content: '';
        background-color: #000;
        z-index: 1;
        width: 442px;
        height: 295px;
        position: absolute;
        opacity: 0;
        transition: .15s opacity;
        transform: translateX(-100%);
        text-align: right;
    }

    &__video:hover:before {
        opacity: 0.5;
    }
}

.benefit {

    &__header {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        margin-top: 28px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 12px;
    }
}

.btn-play {
    max-width: 58px;
    max-height: 58px;
    display: block;
    position: relative;
    left: 200px;
    top: 112px;
    z-index: 1;

    &__text {
        position: relative;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0em;
        top: 122px;
        z-index: 1;
        color: #FFFFFF;
        text-align: center;
    }
}

.col {
    text-align: center;
}

.footer {
    font-size: 12px;
    line-height: 15px;
}

.service {

    &__picture {
        margin:35px 0px 20px 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
    }

    &__header {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        margin:8px 0 16px 0px;
        text-align: center;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 12px;
        text-align: center;
        align-items: center;
    }
}


.price {
    &__nav {
        text-align: left;
        margin: 35px 0px 54px 0px;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 8px;
    }

    &__description {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 36px;
    }

    &__number {
        font-size: 20px;
        line-height: 24px;
        color: #00BF78;
        font-weight: 600;
        text-align: center;
    }
}


.master {
    background: #F8F6F7;

    &__title {
        margin-bottom: 24px;
    }
}


.master-card
    { margin-bottom: 40px;
        &__photo {
        height: 300px;
            max-width: 400px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        cursor: pointer;

    }

    &__photo:before,
    &__photo:after {
        opacity: 0;
        transition: .15s opacity;
        position: absolute;
    }

    &__photo:before {
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        z-index: 1;
    }

    &__photo:hover:before {
        opacity: 0.5;
    }

    &__photo:after {
        content: 'Записаться к мастеру';
        font-weight: 500;
        color: #fff;
        display: flex;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 120px;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 2;
    }

    &__photo:hover:after {
        opacity: 1;
    }

    &__name {
        margin: 20px 0px 8px 0px;
        font-size: 18px;
        font-weight: 600;
    }

    &__job {
        font-size: 14px;
        font-weight: 400;
        margin: 8px 0px 20px 0px;
    }

    &__experience {
        font-size: 12px;
        font-weight: 300;
    }
}


.example {
    &__title {
        margin: 114px 0px 40px 0px;
        text-align: center;
    }

    &__photo {
        height: 338px;
        max-width: 338px;
        border-radius: 8px;
    }

    &__list {
        padding-left: 0px;
        text-align: center;
    }

    &__item {
        display: inline;
        border-radius: 0px;
        padding: 0px 20px 0px 20px;
        opacity: 0.5;
    }
}

.contact {
    background: #F8F6F7;

    &__social {
        text-align: left;
        padding-left: 0px;
    }

    &__address {
        text-align: left;
        padding-left: 0px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
    }

    &__text {
        margin: 32px 0px 12px 0px;
        text-align: left;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
    }
}

.registration {
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 8px;
    max-width: 445px;
    padding: 40px;

    &__field {
        max-height: 44px;
        max-width: 375px;
        border-radius: 4px;
        padding: 15px 16px 15px 16px;
        border: 1px solid #D8D8D8;
        margin: 0px 0px 20px 0px;
        text-align: left;
        color: #A0A0A0;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin: 15px 0px 15px 0px;
    }

    &__agreement {
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 15px;
    }

}

@media screen and (max-width: 768px) {
    .header__girl {
        opacity: 0.5;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .header__girl {
        opacity: 0.5;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .header-phone
    {
        text-align: center;
    }

    .header__logo
    {
        text-align: center;
    }

    .price {
        &__title {
            text-align: center;
        }

        &__description {
            text-align: center;
            padding-bottom: 8px;
        }

        &__number {
            margin-bottom: 36px;
        }
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .header__girl {
        display: none;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}
@media print {
    .header__girl {
        display: none;
    }
}